
@media (max-width: 1024px){
.banner_wrap {
    padding-left: 0;
    padding: 0 0.9375rem;
}

.banner_section {
    height: 40.875rem;
}

.stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats-section {
    background: #0000009c;
    height: 100%;
}

}



@media (max-width: 991px) {
    .menu-list {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        overscroll-behavior-y: contain;
        scrollbar-width: none;
        background: #141719 none repeat scroll 0 0;
        transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
        height: 100vh;
        overflow-x: hidden;
        transition: width 0.3s ease;
        z-index: 9999;
        padding-top: 60px;
        max-width: 300px;
    }

    .menu-list.open {
        width: 100%;
        transition: width 0.3s ease;
    }


    .menu-list ul {
        flex-direction: column;
        padding-left: 20px;
        gap: 20px;
        align-items: flex-start;
    }

    .menu-icon span {
        font-size: 26px;
        font-weight: 400;
        color: #fff;
    }

    .right-col {
        max-width: 100%;
    }


    span.menu-close {
        padding: 6px 6px;
        display: block;
        border-radius: 6px;
        width: 45px;
        height: 45px;
        text-align: center;
        box-shadow: 0 0 25px rgb(0 0 0 / .1);
        line-height: 32px;
        background: #eb592a;
        color: #fff;
        position: absolute;
        right: 7px;
        top: 5px;
        font-size: 18px;
    }


    .menu-icon {
        display: block;
    }

    .banner_content h1 {
        font-size: 3rem;
    }


    .newsletter-form {
        margin-top: 2rem;
    }

    .game_card {
        flex-direction: column;
    }

    .games_text {
        width: 100%;
    }

    .game_card_img_wrap {
        width: 100%;
    }
    

    .game_card_img {
        height: 350px;
    }

    .custom-game-flex {
        flex-direction: column;
    }

    .custom-game-text-side {
        padding: 30px 15px;
    }

    .custom-game-img-side, .custom-game-text-side {
        width: 100%;
    }

    .custom-game-img-side, .custom-game-text-side {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .banner_section {
        height: 32.875rem;
    }
    .stats-grid {
        grid-template-columns: 1fr;
      }
      .cards-grid {
        grid-template-columns: 1fr;
      }

      .figma_heading {
        font-size: 2.5rem;
    }

    .second_heading {
        font-size: 2rem;
    }
    .blog-detail-section .blog-title {
        font-size: 20px;
      }
      .blog-detail-section {
        padding: 40px 0;
    }
      .blog-detail-section  .blog-meta {
        flex-direction: column;
        gap: 15px;
      }
      
      .blog-detail-section .blog-content {
        padding: 25px;
      }
      
      .blog-detail-section .section-title {
        font-size: 1.8rem;
      }
      
      .blog-detail-section .blog-featured-image img {
        height: 250px;
      }
      
      .blog-detail-section  .takeaway-item {
        padding: 15px;
      }

      .pt-8{
        padding-top: 2.5rem;
    }

    .pb-8{
        padding-bottom: 2.5rem;
    }

    .featured-highlights {
        margin-top: 3rem;
    }

    .banner_section_second {
        height: 28.875rem;
    }

}


@media (max-width: 575px) {
    .banner_content h1 {
        font-size: 2.5rem;
    }

    .banner_content p {
        font-size: 1rem;
    }

    .trending_content h2 {
        font-size: 2rem;
    }

}

@media (max-width: 425px) {
    .banner_content h1 {
        font-size: 2.1rem;
    }

    .banner_content span {
        padding: 5px 10px;
        font-size: 13px;
    }

    .figma_heading {
        font-size: 1.5rem;
    }

    .second_heading {
        font-size: 1.5rem;
    }

    .right_column h4 {
        font-size: 1.6rem;
    }

    .newslattter input {
        width: 100%;
        margin-bottom: 0px;
    }

    .blog-detail-section .section-title {
        font-size: 1.5rem;
    }

    .blog-detail-section .blog-intro .lead {
        font-size: 16px;
    }

    .blog-detail-section .takeaway-item span {
        font-size: 1rem;
    }

    .footer-content h2 {
        color: #fff;
        font-size: 1.5rem;
    }

    .banner_section {
        height: 30.875rem;
    }

    .trending_content h2 {
        font-size: 1.5rem;
    }

    .para {
        font-size: 1rem;
    }

    .card-content h3 {
        font-size: 18px;
    }


    .card-content {
        left: 40px;
    }

    .highlights-grid {
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }

    .highlight-card-content h3 {
        font-size: 1.3rem;
    }

    .highlight-card-content p {
        line-height: 24px;
    }

    .gt-comment-form-wrap h4, .gt-contact-content h3 {
        font-size: 22px;
    }

    .gt-comment-form-wrap p, .gt-contact-content p {
        font-weight: 500;
        line-height: 25px;
    }

    .bottom-ft {
        flex-wrap: wrap;
    }

    .footer_SSl {
        padding-top: 16px;
        max-width: 120px;
        margin: 0 auto;
    }

    .banner_section_second {
        height: 24.875rem;
    }

    /* .newslattter {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 26rem;
    } */

    body .newsletter-feedback {
        padding: 5px;
    }

}
